/* .Toast-wrapper{
    z-index: 9999;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: none;
} */
.toast-wrapper{
    padding: 10px 15px;
}
#salam{
    position: relative;
    animation: mymove 0.5s infinite;
    animation-timing-function: linear;
}
@keyframes mymove{
    
}

/* @media only screen and (min-width:568px){
   
}
.Toast-wrapper-toright{
    top: 0;
    right: 0;
    text-align: right;
}
.Toast-wrapper-tocenter{
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
} */